<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="" style="text-align: center">
    <h1>WELCOME TO DASHBOARD ::  <%-name%></h1>
    <!-- logout button -->
    <a style="color: red; font-weight: bold; font-size: 20px; text-decoration: none; padding: 10px; border: 1px solid red; border-radius: 5px; margin: 10px;" href="/logout">Logout</a>
    </div>
</body>
</html>