<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center; padding: 10px;" class="">
    <!-- create button with redirection to dashboard -->
    <a style="color: rgb(4, 0, 255); font-weight: bold; font-size: 20px; text-decoration: none; padding: 10px; border: 1px solid rgb(4, 0, 255); border-radius: 5px; margin: 10px;" href="/auth/google">Google Login</a>
    <a style="color: rgb(4, 0, 255); font-weight: bold; font-size: 20px; text-decoration: none; padding: 10px; border: 1px solid rgb(4, 0, 255); border-radius: 5px; margin: 10px;" href="/auth/microsoft">Microsoft Login</a>
    </div>
</body>
</html>